/*CSSのコメント*/
// @use 'vars';
// @use 'vars' as v; // varsをvとして扱う
@use 'vars' as *; // 接頭辞必要なし
@use 'mixin' as *;
@forward 'about';

// CSS変数
:root {
  --second-color: blue;
}

p {
  font-size: 2rem;
  // color: vars.$main-color;
  // color: v.$main-color;
  color: $main-color;

  span {
    font-weight: bold;

    em {
      // color: vars.$main-color;
      // color: v.$main-color;
      color: $main-color;

      background: var(--second-color);
    }
  }
}

.content-sample {
  // mixinを使用する
  @include content;
}

// 親セレクタの参照
.card {
  border: 1px solid #ccc;

  &__img {
    width: 100%;
    object-fit: cover;
  }

  &--primary {
    background-color: orange;
  }
}

.media-sample {
  max-width: 400px;

  // デスクトップ
  @include mediaquery(600px) {
    max-width: 800px;
  }
}

.media-sample2 {
  @include mediaquery {
    background-color: blue;
  }
}